[submodule "src/lib/can-cicd"]
	path = src/lib/can-cicd
	url = git@github.com:eagletrt/can-cicd.git
	branch = build
[submodule "src/lib/micro-libs"]
	path = src/lib/micro-libs
	url = git@github.com:eagletrt/micro-libs.git
