Release/
Debug/
build/
*.o
*.elf
*.bin
*.hex
*.map
.mxproject
**/Src/Backup/*
**/Inc/Backup/*
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/extensions.json
**/fenice-bms-lv-cppcheck-build-dir/*
.DS_Store
